/* [ STYLE_CSS ] */

/* body */
html, body {
  margin: 10px;
  overflow-x: hidden
}

body {
  background-color: #171717;
  color: white;
  font-family: "Consolas", monospace;
  font-size: 18px;
}

/* heading */
h1 {
  text-align: center;
}

/* [ APP DIV ] */
#app {
  width: 100vw;
  height: 100vh;
  display: flex;
}

/* code container */
#codeContainer {
  padding: 5px;
  background-color: #303030;
  border: 2px solid white;
  border-radius: 3px;
  display: flex;
}

#dtInput {
  background-color: transparent;
  color: #A0A0A0;
  font-family: "Consolas", monospace;
  font-size: 15px;
  width: 100%;
  height: 100%;
  border: 0px;
}

.state-empty #codeContainer,
.state-invalid #codeContainer {
  justify-content: center;
  width: 55%;
  height: 40%;
}

.state-valid #codeContainer {
  justify-content: flex-start;
  width: 20%;
  height: 30%;
}

.state-valid{
  display: flex;
}

/* team container */
#teamContainer {
  display: none;
}

.state-valid #teamContainer{
  display: block;
  flex: 1;
}